<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口自动化</title>
    <link rel="stylesheet" type="text/css" href="../static/buttons.css">
    <script src="../static/jquery-3.4.1.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("subheaders").click(function () {
                {#var params = {"setheaders", $("#setheaders").val()}#}
                $.ajax(
                    {
                        url: "setheaders",
                        type: "POST",
                        data: params,
                        dataType: JSON,
                        success: function () {
                            alert("qqq")
                        }
                    }
                )
            })
            $("#start").click(function () {
                $.get("/start", function () {
                    const starting = $("<p></p>").text("执行完毕...");
                    $("#start").append(starting);
                });
            });
        });

        function start() {
            const starting = $("<p></p>").text("正在执行...");
            $('#start').append(starting);
        }

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        function set_headers() {
            $.ajax(
                {
                    type: "POST",
                    dataType: "JSON",
                    url: "/setheaders",
                    contentType: "application/json",
                    data: JSON.stringify(getFormData($("#headers"))),
                    success: function (result) {
                        console.log(result)
                        if (result.resultCode == 200) {
                            alert("success");
                        }
                    },
                    error: function () {
                        alert('error')
                    }
                }
            );
        }
    </script>
</head>
<body style="background: aliceblue">
{#<div><h1 style="text-align: center;color: #1B9AF7;">接口自动化</h1></div>#}
<div style="border: solid 2px #1B9AF7;text-align:center">
    <div style="margin: 20px;"><a class="button button-glow button-rounded button-raised button-primary"
                                  href="/static/uploads/Interface_automation.csv">下载模板</a></div>
    <div style="margin: 20px;">
        <form id='upload' action="/upload" enctype='multipart/form-data' method='POST'>
            <input type="file" name="file">
            <input type="submit" value="上传">
        </form>
    </div>
    <div style="margin: 20px;">
        <form id="headers">
            <div class="button button-glow button-rounded button-raised button-primary"
                 style="margin: 0 2px 7px 0;">headers:
            </div>
            <input class="button button-rounded" style="width: 80%" id="setheaders" type="text" name="headers">
            <input class="button button-glow button-rounded button-raised button-primary" id="subheaders"
                   type="button" value="提交" onclick="set_headers()">
        </form>
    </div>
    <div style="margin: 20px;"><a class="button button-glow button-rounded button-raised button-primary" href="/report">测试报告</a>
    </div>
    <div style="margin: 20px;" id="start" class="button button-glow button-border button-rounded button-primary"
         onclick="start()">GO
    </div>
</div>
</body>

</html>